# abc/.clinerules

- GitHub repo: https://github.com/alestic/abc

- Always read these files to understand the project and the layout:
  - `README.md`

- Always run the following at the beginning of a project to understand the Git repo layout:

  ```bash
  make tree
  ```

- Then read files referenced in the above, as appropriate for the task at hand.

- When working on a GitHub issue, follow standard best practices with a branch name like:
  `issue-NN-{fix,feature}-description-$(date _%Y%m%d)

- When an update is complete, the software version can be updated in these five files:

  - README.md
  - abc_cli/abc_generate.py
  - abc_provider_anthropic/pyproject.toml
  - abc_provider_aws_bedrock/abc_provider_aws_bedrock/__init__.py
  - abc_provider_aws_bedrock/pyproject.toml
  - pyproject.toml

- When we are done adding a feature to `abc`, we should make associated updates in the website which is probably at `../getabc.sh/app/`

- Uninstall

  ```bash
  abc_setup --uninstall --no-prompt &&
  pipx uninstall abc-cli
  ```

- Install for development (editable mode)

  ```bash
  pipx install -e . &&
  pipx inject abc-cli -e ./abc_provider_anthropic &&
  pipx inject abc-cli -e ./abc_provider_aws_bedrock &&
  abc_setup --no-prompt
  ```
